root = true

############################################################
# Global settings
############################################################

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80

# Whitespace
trim_trailing_whitespace = true

############################################################
# License header
############################################################

file_header_template = "Serverless SaaS platform\nCopyright (C) 2025 Stefan Karlsson\n\nThis program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.\n\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.\n\nYou should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/."

############################################################
# JavaScript/TypeScript settings
############################################################

[*.{ts,js,tsx,jsx,mjs,cjs}]
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = K&R

# Block comment style
block_comment_start = /**
block_comment = *
block_comment_end = */

# Line comment style
line_comment = //


############################################################
# YAML settings
############################################################

[*.{yaml,yml}]
quote_type = single

############################################################
# Markdown settings
############################################################

[*.md]
trim_trailing_whitespace = false

